.main {
  height: 60em;
  width: 1300px;
}

.contactListNames {
  margin: 2em 0em 2em 2em;
  background-color:#cccccc;
  height: 60em;
  width: 20em;
  float: left;
}

.searchContacts {
  text-align: center;
  padding: 1em 0em;
}

.search {
  width: 80%;
  height: 30px;
  border-radius: 25px;
  border: 0px;
  padding:5px 15px 5px 15px;
  box-sizing: border-box;
}

.contactName {
  text-align: center;
  border-top: 2px solid darkgray;
  border-bottom: 2px solid darkgray;
  padding: 5px 0px;
  cursor: pointer;
}

.contactInformation, .noContactSelected {
  margin: 2em 0em 2em 0em;
  padding: 0em 1em 0em 1em;
  width: 50em;
  height: 60em;
  background-color:#e6e6e6;
  float: left;
}

.rowTitles {
  width: 100px;
  display: inline-block;
}

.rowValues {
  width: 500px;
  display: inline-block;
}

.row {
  padding: 1em 0em 1em 0em;
}

.editButton {
  height: 25px;
  width: 60px;
  border-radius: 7px;
  position: relative;
  top: 10px;
  float: right;
  background-color: darkgrey;
}

.contactNameHeader, .contactEditHeader {
  padding-top: 1em;
}